body {
    font-family: sans-serif;
}

.container {
    min-width: 310px;
    max-width: 800px;
    padding: 30px 15px;
    margin: 0 auto;
}

.container-fluid {
    min-width: 310px;
    padding: 30px 15px;
    margin: 0 auto;
}

h1 {
    font-size: 3.2rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

center > p, center > a {
    line-height: 25px;
}

#map {
    width: 100%;
    height: calc(100vh - 200px);
}
