<!DOCTYPE HTML>
<html>
<head>
    <title>Время</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
	<h2>UTC Time</h2>
	<h3 id="time"></h3>
    </div>
</body>
<script type="text/javascript"> var time = "{{ time }}";</script>
<script src="/js/time.js"></script>
</html>
