<!DOCTYPE HTML>
<html>
<head>
    <title>Спутники</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
	<h2>Спутники</h2>
	<center>
	    <table>
		<tr>
		    <td>PRN</td>
		    <td>NORAD</td>
		    <td>LINK</td>
		</tr>
		{% for pn in prn_norad %}
		<tr>
		    <td>{{pn.prn}}</td>
		    <td>{{pn.norad}}</td>
		    <td><a href="/tracking/{{pn.norad}}">/tracking/{{pn.norad}}</a></td>
		</tr>
		{% endfor %}
	    </table>
	</center>
    </div>
</body>
</html>
